<!-- HOTEL CARD -->
<div class="grid-container">
    <div class="card">
        <div class="bg-img">
            <img src="#" alt="">
        </div>
        <div class="content">
            <h4 class="card_title">Card title</h4>
            <p> Some quick example text to build on the card title and make up the bulk of the card's content. Take
                a
                photo around the world. </p>
            <button class="seemore">Xem thêm</button>
        </div>
    </div>
</div>

<button type="button">next</button>
<button type="button">back</button>
<!-- END HOTEL CARD -->