<div class="footer">
    <div class="footer_container">
        <div class="footer_content">
            <div class="footer1">
                <h2 class="footer_header">Về chúng tôi</h2>
                <p class="footer1_span">Được thành lập với mong muốn giúp sinh viên trường Đại học Mở dễ dàng hơn trong
                    việc tìm nhà trọ. Cũng như
                    đây là "người bạn" mà trường gửi đến các bạn sinh viên Đại học Mở TP.HCM</p>
            </div>

            <div class="footer2">
                <h2 class="footer_header">Thông tin liên hệ</h2>
                <ul class="contact">
                    <li>Email: 1751010133thanh@ou.edu.vn</li>
                    <li>Website: ou.edu.vn/nhatrodaihocmo</li>
                    <li>Số điện thoại: (028) 383 68233</li>
                </ul>
            </div>

            <div class="footer3">
                <h2 class="footer_header">Đồ án của Nguyễn Nhật Thanh</h2>
                <p class="student">Nguyễn Nhật Thanh - 1751010133 -Ngành Khoa học máy tính (Chuyên ngành Cơ Sở Dữ Liệu)
                    <br> <br>
                    Trương Hoàng Vinh - Phó khoa Công nghệ thông tin trường Đại học Mở TP.HCM - Giáo viên hướng dẫn đồ
                    án </p>
            </div>
        </div>
    </div>
</div>