<header>
    <a routerLink="/" class="header__logo">Open Motel</a>
    <nav class="header__nav">
        <ul>
            <li><a routerLink="/">Trang chủ</a></li>
            <li><a routerLink="find">Tìm trọ</a></li>
            <li><a routerLink="lease">Cho thuê</a></li>
            <li><a routerLink="login">Đăng nhập</a></li>
         <form class="search-form">
          <input type="text" placeholder="Tìm kiếm ở đây">
          <button class="search__button">Search</button>
        </form>
        </ul>
    </nav>
</header>